body{
    background-color: red;
}

img {
    width: 300px;
    border-bottom-style: solid;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-color: white;
}

.personagem {
    width: 300px;
    margin: 20px;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
    border-color: white;
    background-color: black;
    transition: transform 0.3s ease-in-out;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, .4);
    cursor: pointer;
}

.personagem:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: blue;
}

.container:hover {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

h1, p {
    color:white;
}

h1{
    font-size: 20px;
}

#rodape {
    text-align: center;
}